body{
	background-color:rgb(255, 224, 241);
}
h1{
	position:absolute;
	top:10%;
	left:10%;
	font-size:80px;
}

h2{
	position:absolute;
	top:30%;
	left:30%;
}

.flip-box {

	position:absolute;
	top:60%;
	left:5%;

  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
  text-align: center;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  font-size:17px;
}

.jason{
	width:200px;
	height:200px;
	border-radius: 50%;
}

.flip-box2 {

	position:absolute;
	top:110%;
	left:65%;

  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner2 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box2:hover .flip-box-inner2 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front2, .flip-box-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front2 {
  background-color: #bbb;
  color: black;
  text-align: center;
}

/* Style the back side */
.flip-box-back2 {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  font-size:17px;
}

.annie{
	width:200px;
	height:200px;
	border-radius: 50%;
}

.flip-box3 {

	position:absolute;
	top:160%;
	left:5%;

  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box3:hover .flip-box-inner3 {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front3, .flip-box-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front3 {
  background-color: #bbb;
  color: black;
  text-align: center;
}

/* Style the back side */
.flip-box-back3 {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  font-size:17px;
}

.cam{
	width:200px;
	height:200px;
	border-radius: 50%;
}

h4{
	position:absolute;
	top:50%;
	left:3%;
	font-size:30px;

}

h5{
	position:absolute;
	top:100%;
	left:70%;
	font-size:30px;
}

h6{
	position:absolute;
	top:150%;
	left:7%;
	font-size:30px;
}

h7{
	position:absolute;
	top:50%;
	left:60%;
	font-size:40px;
}
.jtakeaway{
	position:absolute;
	top:65%;
	left:39%;
	font-size:25px;
	border:10px solid white;
}
h8{
	position:absolute;
	top:100%;
	left:20%;
	font-size:40px;
}
.atakeaway{
	position:absolute;
	top:115%;
	left:10%;
	font-size:25px;
	border:10px solid white;
}
h9{
	position:absolute;
	top:155%;
	left:55%;
	font-size:40px;
}

.ctakeaway{
	position:absolute;
	top:170%;
	left:40%;
	font-size:25px;
	border:10px solid white;
}